Django~=3.2.10
가상환경 실행
myvenv\Scripts\activate

플젝 만들기
django-admin startproject mysite .

- 필수 스크립트
1. sttings.py 웹사이트설정
2. urls.py  urlresolver가 사용하는 패턴 목록

setting.py 설정

웹서버 시작
~/djangogirls$ python manage.py runserver



